@model Blog.Web.Models.ViewModels.AddTagRequest
@{
}

<div class="py-2">
    <div class="container text-light">
        <h1>Add New Tag - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5 text-light">
    <form method="post">
        <div class="mb-3">
            <label class="form-label">
                Name
            </label>
            <input type="text" class="form-control bg-secondary text-light fw-bold" id="name" asp-for="Name" required />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>

        <div class="mb-3">
            <label class="form-label">
                DisplayName
            </label>
            <input type="text" class="form-control bg-secondary text-light fw-bold" id="displayName" asp-for="DisplayName" required />
            <span class="text-danger" asp-validation-for="DisplayName"></span>
        </div>

        <div class="mb-3">
            <button type="submit" class="btn btn-primary">
                Submit
            </button>
        </div>
    </form>
</div>