@model List<Blog.Web.Models.Domain.BlogPost>
@{
}

<div class="text-light py-2">
    <div class="container">
        <h1>All BlogPost - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table text-light border">
        <thead class="bg-black bg-opacity-50 fw-bold">
            <tr>
                <td>Id</td>
                <td>Heading</td>
                <td>Tags</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogPost in Model)
            {
                <tr>
                    <td>@blogPost.Id</td>
                    <td>@blogPost.Heading</td>
                    <td>
                        <div class="d-flex">
                            @foreach (var tag in blogPost.Tags)
                            {
                                <span class="badge bg-primary bg-opacity-50 me-1">
                                    @tag.Name
                                </span>
                            }
                        </div>
                    </td>
                    <td>
                        <a class="text-info fw-bold"
                            asp-area=""
                            asp-controller="AdminBlogPosts"
                            asp-action="Edit"
                            asp-route-id="@blogPost.Id">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
        </table>
    }
    else
    {
        <p>No Blog Post Found!</p>
    }
</div>
